.footer {
  background-color: white;
  height: 250px;
  position: absolute;
  bottom: 0;
  /* max-width: 1140px; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* text-align: center; */
}

.realFoot {
  max-width: 1140px;
  margin: auto;
  padding-top: 20px;
}

.companyInfo {
  padding: 0 5px;
}

.footTopDiv {
  width: 50%;
}

h1 > a:hover,
a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

@media (max-width: 975px) {
  .realFoot {
      flex-direction: column-reverse;
  }
  .footLogo {
    display: none;
  }
  .companyInfo > p {
    font-size: 12px;
  }
  .footTopDiv {
    width: auto;
  }
}